{% include 'templatehead.html' %}
{% load static %}
{% load qr_code %}

<input type="hidden" id="theonepgmlang" name="theonepgmlang" value="{{ theone.pgmlang }}" readonly>
<input type="hidden" id="theonestdin" name="theonestdin" value="{{ theone.stdin }}" readonly>
<input type="hidden" id="theonecmdargs" name="theonecmdargs" value="{{ theone.cmdargs }}" readonly>
<input type="hidden" id="theonestdout" name="theonestdout" value="{{ theone.stdout }}" readonly>
<input type="hidden" id="theoneexpected" name="theoneexpected" value="{{ theone.expected }}" readonly>
<input type="hidden" id="theonedescription" name="theonedescription" value="{{ theone.description }}" readonly>
<input type="hidden" id="theoneurlhash" name="theoneurlhash" value="{{ theone.urlhash }}" readonly>
<textarea style="display:none;" type="hidden" id="theonemycode" name="theonemycode">{{ theone.mycode }}
</textarea>

<input type="hidden" id="theonechallenge" name="theonechallenge" value="{{ theone.challenge }}" readonly>
<input type="hidden" id="theonecustomlink" name="theonecustomlink" value="{{ theone.customlink }}" readonly>
<input type="hidden" id="randomurl" name="randomurl" value="{{ random_object.urlhash }}" readonly>

<script>



    // Model script
    //$('#myModal').on('shown.bs.modal', function () {
    //    $('#myInput').trigger('focus')
    //})

    //Clipboard initiation
    new ClipboardJS('.btn');

    const BASE_URL = "https://api.code-pad.me/"
    const LOCAL_URL = "{% static '/js/languages.JSON' %}"
    //$.getJSON(BASE_URL + 'languages/', function (data) {

    var editor;
    $.getJSON(LOCAL_URL, function (data) {

        // Adding languages to dropdown list

        $('#pgmlang').append('<option selected="true" disabled>Choose Programming Language</option>');
        $.each(data, function (key, entry) {
            $('#pgmlang').append($('<option></option>').attr('value', entry.id).text(entry.name));
        })

        var datapgmlang = document.getElementById("theonepgmlang").value;
        var datamycode = document.getElementById("theonemycode").innerText.trim();
        var datastdin = document.getElementById("theonestdin").value;
        var datacmdargs = document.getElementById("theonecmdargs").value;
        var datastdout = document.getElementById("theonestdout").value;
        var dataexpected = document.getElementById("theoneexpected").value;
        var datadescription = document.getElementById("theonedescription").value;
        var datachallenge = document.getElementById("theonechallenge").value;
        var datacustomlink = document.getElementById("theonecustomlink").value.trim();
        console.log(datamycode)
        if (datapgmlang == "") {
            // Setting default language
            $('#pgmlang').prop('selectedIndex', 5);
        } else {
            // Setting database language
            $('#pgmlang').val(datapgmlang);
        }

        $('#mycode').empty();
        $('#stdin').empty();
        $('#cmdargs').empty();
        $('#stdout').empty();
        $('#description').empty();
        $('#expected').empty();
        $('#customlink').empty();


        if (datamycode == "") {
            // Loading the default template code in Div
            $('#mycode').append(document.createTextNode(sources[$('#pgmlang').val()]));
        } else {

            $('#mycode').empty();
            //$('#mycode').append(document.createTextNode(datamycode));
            $('#mycode').append(document.createTextNode(datamycode));
        }

        $('#stdin').append(datastdin);
        $('#cmdargs').append(datacmdargs);
        $('#description').append(datadescription);
        $('#expected').append(dataexpected);
        $('#customlink').val(datacustomlink);
        console.log(datacustomlink);
        if (datachallenge == "True") {
            $("#challenge").prop("checked", true);
            var z = document.getElementById("divexpt");
            z.style.display = "block";

            if (datacustomlink == "") {
                var x = document.getElementById("randomlink");
                var y = document.getElementById("customlinkid");
                x.style.display = "block";
                y.style.display = "none";
            } else {
                $("#buttonclge").prop("checked", true);
                var x = document.getElementById("randomlink");
                var y = document.getElementById("customlinkid");
                x.style.display = "none";
                y.style.display = "block";
            }
        }
        else {
            $("#challenge").prop("checked", false);
            var x = document.getElementById("divexpt");
            x.style.display = "none";
        }
        //var editor = CodeMirror.fromTextArea(mycode);

        editor = CodeMirror.fromTextArea(mycode, {
            lineNumbers: true,
            gutter: true,
            lineWrapping: true,
            theme: 'eclipse',
            //mode: 'text/x-csrc',
            mode: getMode($('#pgmlang').val()),
        });

        //FIX FOR MIN LINES
        //http://stackoverflow.com/questions/10380759/codemirror-minimum-lines-number
        editor.setSize("100%", 563);

    });

    //syntax highlighting mode
    function getMode(value) {
        var mode;
        switch (value) {
            case '68':
                mode = 'php';
                return mode;
                break;
            case '86':
                mode = 'clojure';
                return mode;
                break;
            case '50':
            case '54':
            case '51':
                mode = 'clike'
                return mode;
                break;
            case '70':
            case '71':
                mode = 'python'
                return mode;
                break;
            case '77':
                mode = 'cobol'
                return mode;
                break;
            case '58':
                mode = 'erlang'
                return mode;
                break;
            default:
                mode = 'javascript'
                return mode;
                break;
        }
    }

    //Updating the template code in Div

    function jsFunction(value) {

        $('#mycode').empty();
        $('#stdout').empty();
        $('.CodeMirror.cm-s-eclipse').remove();
        $('#mycode').append(document.createTextNode(sources[$('#pgmlang').val()]));
        editor = CodeMirror.fromTextArea(mycode, {
            lineNumbers: true,
            gutter: true,
            lineWrapping: true,
            theme: 'eclipse',
            mode: getMode(value),
        });
        editor.setSize("100%", 563);

    }



    //Running the code for output
    function onRun() {
        const apiUrl = "https://api.code-pad.me/submissions";
        let code = editor.getValue();
        let lang_id = $('#pgmlang').val();
        $("#stdout").html("Waiting for response...");
        let stdin = $('#stdin').val();
        let cmdargs = $('#cmdargs').val();
        let timeout = "";
        if (lang_id == '62') {
            timeout = 30000;
        } else {
            timeout = 10000;
        }

        let data = {
            source_code: code,
            language_id: lang_id,
            number_of_runs: "1",
            stdin: stdin,
            expected_output: null,
            command_line_arguments: cmdargs,
            cpu_time_limit: "15",
            cpu_extra_time: "5",
            wall_time_limit: "20",
            memory_limit: "128000",
            stack_limit: "64000",
            max_processes_and_or_threads: "120",
            enable_per_process_and_thread_time_limit: false,
            enable_per_process_and_thread_memory_limit: false,
            max_file_size: "4096",
        };


        let request = $.ajax({
            url: apiUrl,
            type: "post",
            data: data,
        });


        const delay = (ms) => new Promise((res) => setTimeout(res, ms));
        // Callback handler that will be called on success
        request.done(async function (response, textStatus, jqXHR) {
            // Log a message to the console
            let token = response.token;
            await new Promise((resolve) => setTimeout(resolve, timeout)); // 8 sec
            let second_request = $.ajax({
                url: apiUrl + "/" + token,
                type: "get",
            });
            second_request.done(function (response) {
                console.log(response.stdout);
                console.log(response.compile_output);
                if (response.compile_output == null) {
                    $("#stdout").html(response.stdout);
                } else {
                    $("#stdout").html(response.compile_output);
                }

                if (response.compile_output == null && response.stdout == null) {
                    $("#stdout").html("No response from server, Try again...");
                }


                var output = $('#stdout').val().trim();


                var expected = $('#expected').val().trim();

                if (expected != "") {
                    if (output == expected) {
                        var randomurl = document.getElementById("randomurl").value;
                        var domain = 'https://code-pad.me/'
                        var msg = "Success! You have completed this challenge.";
                        console.log(msg);

                        //var newch = "<a href='" + domain + randomurl + "'>Click here to explore a random code</a>";

                        //$("#message").html(msg + " " + newch);
                        $("#message").html(msg);
                        $("#message").removeClass("alert-warning rounded mb-2").addClass("alert-success rounded mb-2");
                        document.getElementById("message").style.padding = "2px 2px 2px 8px";
                    } else {
                        var msg = "Does not match, please try again";
                        console.log(msg);
                        $("#message").html(msg);
                        $("#message").removeClass("alert-success rounded mb-2").addClass("alert-warning rounded mb-2");
                        document.getElementById("message").style.padding = "2px 2px 2px 8px";
                    }
                }

            });
        });
    }
</script>


<div class="p-2 mb-4 bg-light bg-gradient rounded-3 my-3 rounded shadow-sm ">
    <form action="{% url 'index' %}" onsubmit="return validateForm()" method="POST">
        {% csrf_token %}

        <input name="idurl" type="hidden" value="{{ theone.urlhash }}" />
        <nav class="navbar navbar-expand ps-3 pe-3">
            <div class="container-fluid shadow-sm rounded-3 bg-light bg-gradient p-1">
                <ul class="navbar-nav mr-auto">


                    <li class="nav-item p-1">
                        <select class="form-select form-select-sm shadow-sm" aria-label="pgmlang" name="pgmlang"
                            id="pgmlang" onchange="jsFunction(this.value);">

                        </select>
                    </li>

                    <li class="nav-item p-1">
                        <div class="dropdown">
                            <button class="btn btn-danger btn-sm shadow-sm" type="button" data-toggle="tooltip"
                                data-placement="top" title="Standard Input" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-caret-down-fill"></i>
                            </button>
                            <ul class="dropdown-menu bg-dark bg-gradient" aria-labelledby="dropdownMenuButton">

                                <li>
                                    <label for="stdin" class="form-group text-white small p-2">Standard Input</label>
                                    <textarea class="form-control rounded-0" name="stdin" id="stdin"
                                        rows="2"></textarea>
                                </li>
                                <li>
                                    <label for="cmdargs" class="form-group text-white small p-2">CMD-line args</label>
                                    <textarea class="form-control rounded-0" name="cmdargs" id="cmdargs"
                                        rows="2"></textarea>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item p-1">
                        <button type="button" class="btn btn-success btn-sm shadow-sm" onclick="onRun()">Run</button>
                    </li>

                    <li class="nav-item p-1">
                        <button type="submit" value="submit" class="btn btn-primary btn-sm shadow-sm">Share</button>
                    </li>



                    <li class="nav-item p-1">
                        <!-- Button trigger modal -->
                        <input type="hidden" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="clickme" />

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Your code-pad.me link is ready!
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <a class="link-success" href="{{ theone.urlhash }}" id="copylink"
                                            value="https://code-pad.me/{{theone.urlhash}}">https://code-pad.me/{{theone.urlhash}}</a>
                                        <br>
                                        <p class="text-center">
                                            {% if domain %}
                                            {% with domain|add:theone.urlhash as varname %}
                                            {# use variable varname #}
                                            {% qr_from_text varname size=10 border=6 %}
                                            {% endwith %}
                                            {% endif %}
                                        </p>





                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary"
                                            data-clipboard-target="#copylink">Copy to
                                            Clipboard</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto float-end">
                    <li class="nav-item p-1">
                        <button type="button" class="btn btn-danger btn-sm shadow-sm" id="download" value="Download"
                            data-toggle="tooltip" data-placement="top" title="Download File"><i
                                class="bi-download"></i></button>
                    </li>

                </ul>
            </div>
        </nav>





        <div class="row p-3">
            <div class="col-md-8">
                <div class="form-group mb-2 rounded-3 text-white bg-dark bg-gradient border shadow-sm">
                    <label class="p-2 small" for="mycode">
                        Code Editor
                    </label>
                    <textarea id="mycode" name="mycode" class="form-control">
                    </textarea>
                </div>


            </div>
            <div class="col-md-4">
                <div id="message"></div>

                <div class="form-group mb-2 rounded-3 text-white bg-dark bg-gradient shadow-sm">
                    <label for="stdout" class="p-2 small">Program Output</label>
                    <textarea class="form-control rounded-0" id="stdout" name="stdout" rows="6"
                        placeholder="Your program output is displayed here."></textarea>
                </div>
                <div class="form-group mb-2 rounded-3 text-white bg-dark bg-gradient shadow-sm">



                    <label class="p-2 small float-end" for="challenge">
                        Challenge &nbsp;<input type="checkbox" id="challenge" name="challenge" onclick="showExpected()">
                    </label>


                    <label for="description" class="p-2 small">Description</label>
                    <textarea class="form-control rounded-0" id="description" name="description" rows="6"
                        placeholder="You can add descriptions, quick notes or write a challenge for your friends."></textarea>
                </div>
                <div id="divexpt">
                    <div class="form-group mb-2 rounded-3 text-white bg-dark bg-gradient shadow-sm">

                        <label class="p-2 small float-end" for="buttonclge">
                            Add link &nbsp;<input type="checkbox" id="buttonclge" name="buttonclge"
                                onclick="showLink()">
                        </label>

                        <label for="expected" class="p-2 small">Expected output</label>
                        <textarea class="form-control rounded-0" id="expected" name="expected" rows="6"
                            placeholder="Your program output is checked for any matches with the result that you have provided here."></textarea>
                    </div>


                    <div class="form-group rounded-3 text-white bg-dark bg-gradient shadow-sm" id="randomlink">

                        <button type="button" class="btn btn-primary btn-sm float-end mt-1"><a
                                style="text-decoration: none; color: white;"
                                href="/{{random_object.urlhash}}">Go</a></button>
                        <label for="randomlink" class="p-2 small">Random Challenge</label>
                        <a style="text-decoration:none;background-color: white;" class="form-control rounded-0"
                            href="/{{random_object.urlhash}}">https://code-pad.me/{{random_object.urlhash}}</a>


                    </div>

                    <div class="form-group rounded-3 text-white bg-dark bg-gradient shadow-sm" id="customlinkid">
                        <button type="button" class="btn btn-primary btn-sm float-end mt-1"
                            onclick="onCustomlink()">Go</button>
                        <label for="customlink" class="p-2 small">Custom Challenge</label>
                        <input type="url" id="customlink" name="customlink" class="form-control rounded-0"
                            placeholder="Link your code-pad.me challenge here." aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm">

                    </div>
                    <div id="vmessage"></div>
                </div>
            </div>
        </div>


    </form>

</div>

{% include 'templatetail.html' %}