{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">
  <title>Code-Pad.me - Learn coding</title>
  <link rel="icon" type="image/x-icon" href="{% static '/images/code.ico' %}">

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/jumbotron/">


  

  <!-- Jquery-->

  <script src="{% static '/jquery/dist/jquery.min.js' %}"></script>

  

  <!-- Bootstrap core CSS -->

  <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet">


  <!-- javascript-->

  <script src="{% static '/js/api.js' %}"></script>

  
  <script src="{% static '/codemirror/lib/codemirror.js' %}"></script>
  <link rel="stylesheet" href="{% static '/codemirror/lib/codemirror.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/eclipse.css' %}">
  <script src="{% static '/codemirror/mode/javascript/javascript.js' %}"></script>
  <script src="{% static '/codemirror/mode/clike/clike.js' %}"></script>
  <script src="{% static '/codemirror/mode/python/python.js' %}"></script>
  <script src="{% static '/codemirror/mode/clojure/clojure.js' %}"></script>
  <script src="{% static '/codemirror/mode/php/php.js' %}"></script>
  <script src="{% static '/codemirror/mode/xml/xml.js' %}"></script>
  <script src="{% static '/codemirror/mode/cobol/cobol.js' %}"></script>
  <script src="{% static '/codemirror/mode/erlang/erlang.js' %}"></script>

  
 
  <script src="{% static '/clipboard/dist/clipboard.min.js' %}"></script>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


</head>

<body>

  <main>
    <div class="container py-4">
      <header class="pb-1 mb-2 border-bottom">

        <nav class="navbar navbar-expand-lg navbar-light bg-light  p-3 my-3 rounded shadow-sm ">
          <div class="container-fluid  ">
            <a class="navbar-brand" href="{% url 'index' %}">Code-Pad.me</a>
          </div>
        </nav>
      </header>