{% load static %}

<footer class="pt-3 mt-4 text-muted border-top">


  <p class="float-end">Code views: {{ theone.metrics }} {{ total }}</p>
  <p class="float-start">&copy; 2021</p>
  <p class="text-center">
    Developed by <a class="text-decoration-none" href="https://www.linkedin.com/in/digin/">Digin Dominic</a>, Source
    code is at <a class="text-decoration-none" href="https://gitlab.com/digin13dominic/code-pad.me">Gitlab Repo</a>
    </br>
    Supervisor <a class="text-decoration-none" href="https://sshah.co.uk/">Prof. Madasar Shah</a></br>
  </p>


</footer>
</div>
</main>


<script>

  //Function to display expected Div

  function showExpected() {
    var checkBox = document.getElementById("challenge");

    if (checkBox.checked == true) {
      var x = document.getElementById("divexpt");
      x.style.display = "block";
      var datacustomlink = document.getElementById("theonecustomlink").value.trim();
      if (datacustomlink == "") {
        var x = document.getElementById("randomlink");
        var y = document.getElementById("customlinkid");
        x.style.display = "block";
        y.style.display = "none";
      } else {
        $("#buttonclge").prop("checked", true);
        var x = document.getElementById("randomlink");
        var y = document.getElementById("customlinkid");
        x.style.display = "none";
        y.style.display = "block";
      }

    } else {
      var x = document.getElementById("divexpt");
      x.style.display = "none";
    }
  }

  function showLink() {
    var checkBox = document.getElementById("buttonclge");

    if (checkBox.checked == true) {
      var x = document.getElementById("randomlink");
      var y = document.getElementById("customlinkid");
      x.style.display = "none";
      y.style.display = "block";
    } else {
      var x = document.getElementById("randomlink");
      var y = document.getElementById("customlinkid");
      x.style.display = "block";
      y.style.display = "none";
      $('#customlink').val('');
    }
  }

  function onCustomlink() {
    window.open($("#customlink").val(), "_blank");
  }

  function validateForm() {
    var x = $("#customlink").val();
    if (x.includes("code-pad.me") == false && x != "" ) {
      var msg = "This field accepts links from code-pad.me only.";
      console.log(msg);
      $("#vmessage").html(msg);
      $("#vmessage").removeClass("alert-warning rounded mb-2").addClass("alert-warning rounded mb-2");
      document.getElementById("vmessage").style.padding = "2px 2px 2px 8px";
      return false;
    }
  }
  function download(filename, text) {
    var relement = document.createElement('a');
    relement.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    relement.setAttribute('download', filename);

    relement.style.display = 'none';
    document.body.appendChild(relement);

    relement.click();

    document.body.removeChild(relement);
  }
  document.getElementById("download").addEventListener("click", function () {
    // Generate download of hello.txt file with some content
    var text = editor.getValue();
    var extension;

    switch ($('#pgmlang').val()) {
      case '45':
        extension = 'asm';
        break;
      case '46':
        extension = 'sh';
        break;
      case '47':
        extension = 'bas';
        break;
      case '75':
        extension = 'c';
        break;
      case '76':
        extension = 'cpp';
        break;
      case '48':
        extension = 'c';
        break;
      case '52':
        extension = 'cpp';
        break;
      case '49':
        extension = 'c';
        break;
      case '53':
        extension = 'cpp';
        break;
      case '50':
        extension = 'c';
        break;
      case '54':
        extension = 'cpp';
        break;
      case '86':
        extension = 'clj';
        break;
      case '51':
        extension = 'cs';
        break;
      case '77':
        extension = 'cbl';
        break;
      case '55':
        extension = 'lisp';
        break;
      case '56':
        extension = 'd';
        break;
      case '57':
        extension = 'exs';
        break;
      case '58':
        extension = 'erl';
        break;
      case '44':
        extension = 'txt';
        break;
      case '87':
        extension = 'fs';
        break;
      case '59':
        extension = 'f';
        break;
      case '60':
        extension = 'go';
        break;
      case '88':
        extension = 'groovy';
        break;
      case '61':
        extension = 'hs';
        break;
      case '62':
        extension = 'java';
        break;
      case '63':
        extension = 'js';
        break;
      case '78':
        extension = 'kt';
        break;
      case '64':
        extension = 'lua';
        break;
      case '89':
        extension = 'txt';
        break;
      case '79':
        extension = 'h';
        break;
      case '65':
        extension = 'ml';
        break;
      case '66':
        extension = 'm';
        break;
      case '67':
        extension = 'pas';
        break;
      case '85':
        extension = 'pl';
        break;
      case '68':
        extension = 'php';
        break;
      case '43':
        extension = 'txt';
        break;
      case '69':
        extension = 'pro';
        break;
      case '70':
        extension = 'py';
        break;
      case '71':
        extension = 'py';
        break;
      case '80':
        extension = 'r';
        break;
      case '72':
        extension = 'rb';
        break;
      case '73':
        extension = 'rs';
        break;
      case '81':
        extension = 'scala';
        break;
      case '82':
        extension = 'sql';
        break;
      case '83':
        extension = 'swift';
        break;
      case '74':
        extension = 'ts';
        break;
      case '84':
        extension = 'vb';
        break;
      default:
        extension = 'txt';
        break;
      // code block
    }
    console.log(extension);
    var filename = "main." + extension;
    download(filename, text);
  }, false);


</script>

<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>

<script>
  let searchParams = new URLSearchParams(window.location.search);
  if (searchParams.has('share')) {
    let param = searchParams.get('share');
    console.log(param);
    document.getElementById("clickme").click();
  }
</script>
</body>

</html>